.small-images-container{
    width: 100px;
    height: 1000px;
    float: left;
}

.big-image-container{
    width: 600px;
    height: 1000px;
    float: left;
}
.big-image-details{
    width: 750px;
    height: 1000px;
    margin-left: 0;
    
    float: left;
}
.small_images_properties{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    margin: 22px;
    position: relative;
    top: 30px;
}
.small_images_properties img{
    width: 100%;
    height: 100%;
    border: solid salmon 1px;
    cursor: pointer;
}
.small_images_properties:hover{
    border: inset salmon 1px;
}
.big-image-area{
    width: 550px;
    height: 550px;
    margin: 4px;
    margin-top: 10px;
}

   
   

#ARsymbol img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 122px;
    left: 604px;
}
#videoCam{
    
    display: none;
    position: absolute;
    top: 67px;
    left: 104px;
    width: 542px;
    height: 541px;

}
.big-image-area img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: #F5F5F5 solid 1px;
    position: relative;
    
   
}
#big-image-details-left{
    width: 496px;
    height: 800px;
    float: left;
    
}
#title-of-product{
    width: 480px;
    height: 167px;
    margin-left: 9px;
    position: relative;
    top: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #0F1111;
    border-bottom: solid #EAEAEA 1px;
}
#rating-no-product{
    color: #007185;
}
#title-of-product1{
    width: 480px;
    height: 124px;
    margin-left: 9px;
    position: relative;
    top: 24px;

    border-bottom: solid #EAEAEA 1px;
}
#title-of-product1 h3{
    color: #CC0C39;
    font-size: 15px;
}
#money-of-product {
    font-size: 25px;
}
#discount-of-product {
    color: #D73F63;
    font-size: 24px;
    float: left;
}
.discount-and-price{
    margin-left: 1px;
    width: 50px;
    position: relative;
    left: 111px;
    height: 7px;
    top: -25px;
}
#rupee-symbol-of-product{
    position: relative;
    top: -9px;
}
#product-actual-amount {
    clear: both;
    color: #9FA0A0;
    margin: 2px 0px 2px 0px;
    position: relative;
    top: 9px;
}
#incl-of-all-tax-product{
    color: #525353;
    margin: 2px 0px 2px 0px;
    position: relative;
    top: 13px;
}
#title-of-product2{
    width: 480px;
    height: 160px;
    margin-left: 9px;
    position: relative;
    top: 24px;

    border-bottom: solid #EAEAEA 1px;
}
.Bank-offers{
    width: 163px;
    height: 103px;
    border: #dddddd solid 2px;
    border-radius: 6px;
    float: left;
    margin: 9px 4px 2px 2px;
    cursor: pointer;
}
#line1-bankoffers{
    position: relative;
    left: 15px;
    top: 4px;
    font-weight: bold;
}
#line2-bankoffers {
    position: relative;
    left: 11px;
    top: 12px;
    color: #525353;
    font-size: 14px;

}
#line3-bankoffers{
    color: #007185;
    font-size: 13px;
    position: relative;
    left: 11px;
    top: 12px;
}
#big-image-details-right{
    width: 250px;
    float: left;
    height: 100%;
}
#buy-product-container {
    width: 225px;
    height: 468px;
    position: relative;
    left: 15px;
    top: 29px;
    border: #dddddd solid 2px;
   
}
#cost-product-big-image-details-right{
    position: relative;
    left: 23px;
    top: 21px;
}
#line-one-buy-product-container{
    position: relative;
    left: 9px;
    top: 40px;
    font-size: 15px;
}
#blue-text {
    color: #007185;
}
#line-two-buy-product-container{
    position: relative;
    left: 9px;
    top: 60px;
    font-size: 15px;
}
.green-text{
    color: #4fb34f;
}
#in-stock-buy-product-container{
    position: relative;
    left: 11px;
    top: 71px;
    font-size: 20px;
}
#dialogue-buy-product-container{
    position: relative;
    left: 9px;
    top: 82px;
    font-size: 15px;
}
#quantity-selection-buy-product-container{
    position: relative;
    left: 9px;
    top: 91px;
    font-weight: normal;
    color: #0F1111;
}
#add-to-cart-buy-product-container button{
    position: relative;
    left: 12px;
    top: 106px;
    width: 200px;
    height: 34px;
    border-radius: 194px;
    background-color: #F7CA00;
    border: none;
    cursor: pointer;
}
#buy-now-buy-product-container button{
    position: relative;
    left: 12px;
    top: 116px;
    width: 200px;
    height: 34px;
    border-radius: 194px;
    background-color: #FA8900;
    border: none;
    cursor: pointer;
}
#wish-list-buy-product-container button{
    position: relative;
    left: 12px;
    top: 128px;
    width: 200px;
    height: 34px;
    border-radius: 194px;
    cursor: pointer;
    border: none;
}