body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.clear {
    clear: both;
}
#menubar-container {
    width: 100%;
    height: 70px;
    margin: 0 auto;
}
#menubar {
    margin: 0 auto;
    background-color: #0054E0;
    height: 100%;
    padding-left: 10px;
    
}
h1 {
    
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    float: left;
    
}

#find_local a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    top: -4px;
    
}
#find_local a:hover {
    text-decoration: underline;
}
#find_local img {
    height: 35px;
   
}
#nav-container {
    width: 100%;
    background-color: #F7A200;
}
#navbar {
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    
}
#navbar a {
    color: white;
    text-decoration: none;
    border-right: white solid 1px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: 5px;
    
}
#navbar a:hover {
    text-decoration: underline;
}
.no-border{
    border: none !important;
}

#article-container{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
   
}

#videoCam{
    height: 381px;
    width: 400px;
    border: black solid 5px;
    background-color: black;
    position: relative;
    left: 541px;
    margin-top: 44px;
    
}
#article-container a {
    text-decoration: none;
}
#article-container a:hover {
    text-decoration: underline;
}

#photo_jew_home{
    float: left;
    width: 305px;
    height: 300px;
    border: #F5F5F5 solid 1px;
    margin-left: 7px;
    position: relative;
    top: -23px;
    cursor: pointer;
    margin-top: 10px;
}
#photo_container{
    width: 320px;
    height: 509px;
   border: solid 1px #F5F5F5;
    float: left;
    margin: 0px 0px 0px 0px;
}
h4 {
    text-align: center;
    font-weight: normal;
    position: relative;
    font-weight: bold;
    height: 0px;
    top: -10px;
    margin-bottom: 1px;
}
#jew_photo h5 {
    font-weight: normal;
    position: relative;
    padding-top: 2px;
    padding-left: 7px;
    background-color: #B12704;
    height: 19px;
    color: white;
    width: 95px;
    position: relative;
    left: 110px;
    top: -17px;
}

#jew_photo p {
    text-align: center;
    color: black;
    text-decoration: none;
    float: left;
}
#jew_photo a:hover {
    text-decoration: none;
}
#rating-star{
    position: relative;
    left: 36px;
    top: -20px;
    margin-top: 38px;
}
#stars-and-ratings{
    width: 200px;
    margin-left: 50px;
    height: 360px;
}
#rating-result{
    position: relative;
    left: 40px;
    top: -21px;
}
#no-of-raters{
    position: relative;
    left: 39px;
    top: -21px;
    font-size: 15px;
    font-weight: normal;
    color: #007185;
}
#dollar{
    font-size: 15px;
    position: relative;
    margin-left: 60px; 
    top: 1px;
    float: left;
    height: 15px;
   
}
#cost_money{
    font-size: 30px;
    position: relative;
    left: 0px;
    float: left;
    top: -29px;
}
#deleted {
    font-size: 14px;
    position: relative;
   display:inline-block;
   left: 4px;
   top: 12px;
   font-weight: normal;
   color: #565959;
}
#offer-span{
    position: relative;
    left: 13px;
    top: 10px;
    font-weight: normal;
    color: #0F1111;
}
#product-details-home{
    position: relative;
    top: -96px;
}
#product-details-home:hover{
    color: #C85D00;
  cursor: pointer;
}
#cost_bar{
    height: 50px;
    align-items: center;
   position: relative;
   top: -36px;
    width: 300px;
    
}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
#startBtn{
    position: relative;
    left: 46%;
    margin-top: 35px;
    background-color: blue;
    color: white;
    font-size: 20px;
  }